@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --primary-color: #FFF1C2;
    --secondary-color: #26424C;
    --accent1-color: #6DA58F;
    --accent2-color: #E56F38;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Arial', sans-serif;

    --nav-background-color: #FFF1C2;
    --nav-link-color: #26424C;
    --nav-hover-link-color: #6DA58F;
    --nav-hover-background-color: #E56F38;
}

body {
    font-family: var(--paragraph-font);
    background-color: #f8f8f8; 
    margin: 0; 
    padding: 0;
}

.header {
    display: grid;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--nav-background-color); 
    padding: 10px 20px; 
}

.nav {
    display: flex;
    gap: 20px;
}

.company-info {
    margin-bottom: 20px; 
}


.about {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px; 
}

.employee-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; 
}

.employee-profiles figure {
    text-align: center;
}

.contact-form {
    background-color: white; 
    padding: 20px;
    margin-bottom: 20px; 
}

.contact-form label {
    display: block; 
    margin-bottom: 10px; 
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="checkbox"] {
    width: 10%; 
    padding: 8px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

.contact-form input[type="checkbox"] {
    width: auto; 
}

.contact-form input[type="submit"] {
    background-color: var(--accent2-color); 
    color: white;
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
}

.contact-form input[type="submit"]:hover {
    background-color: #c65311; 
}

footer {
    background-color: var(--secondary-color);
    color: white; 
    padding: 20px;
    text-align: center;
}

.Sociallinks {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}