* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main{
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: #DDE392;
    color: black;
    text-align: center;
}

aside img{
    width: 20em;
    text-align: center;
}

footer{
    margin-top: 200px;
    border-top: 2px dotted;
    text-align: center;
}

/* Class Selectors*/
.box{
    margin: 1rem;
    border: 200px;
    padding: 1rem;
    background-color: aquamarine;
    color: blue;
}

aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}
